/* Plan to redesign RPS webpage later on,
submitting this now to move on to the next project
without making it aesthetically pleasing. */

body {
    background-color: grey;
    font-size: 32px;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

.header {
    font-weight: 600;
    scale: 1.5;
    padding-top: 36px;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

button {
    font-size: 46px;
    width: 150px;
    height: 150px;
}